<div class="container timeline">
  <div class="image">
    <h1 class="display-3">
      <%= image.created_at.year %>
    </h1>

    <%= image_tag image.processed_photo_url, class: 'photo' %>

    <% if note %>
      <div class="face-note"><%= note %></div>
    <% else %>
      <ul class="social-buttons list-inline">
        <li class="list-inline-item">
          <div>
            <div class="fb-share-button" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php">Share</a></div>
          </div>
        </li>

        <li class="list-inline-item">
          <div style="vertical-align: bottom;">
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Look at my look-alikes from historical artworks @ VampArt ..." data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </li>
      </ul>
    <% end %>


    <div class="row">
      <%= render 'line' %>
    </div>
  </div>

  <% similar_faces.each_with_index do |data, index| %>
    <div class="face">
      <h1 class="display-4">
        <%= data[:artwork][:dating] || 'Unkown'.html_safe %>
      </h1>

      <%= link_to data[:artwork][:url], class: 'face', target: :_blank do %>
        <%= image_tag "data:image/jpg;base64,#{Base64.encode64(File.read(Rails.root.join('storage/faces', data[:face][:file])))}" %>
      <% end %>

      <div class="face-note">Click on the image to see the artwork.</div>

      <% if index < similar_faces.length - 1 %>
        <%= render 'line' %>
      <% end %>
    </div>
  <% end %>
</div>
