<div class="container timeline">
  <div class="image">
    <h1 class="display-2">
      <%= image.created_at.year %>
    </h1>

    <%= image_tag image.processed_photo_url, class: 'photo' %>

    <div class="row">
      <div class="col-xs-6"></div>
      <div class="line col-xs-6"></div>
    </div>
  </div>

  <% similar_faces.each_with_index do |data, index| %>
    <div class="face">
      <h1 class="display-4">
        <%= data[:artwork][:year] || 'Unkown'.html_safe %>
      </h1>

      <%= link_to data[:artwork][:url], class: 'face', target: :_blank do %>
        <%= image_tag "data:image/jpg;base64,#{Base64.encode64(File.read(Rails.root.join('storage/faces', data[:face][:file])))}" %>
      <% end %>

      <div class="face-note">Click on the image to see the artwork.</div>

      <% if index < similar_faces.length - 1 %>
        <div class="row">
          <div class="col-xs-6"></div>
          <div class="line col-xs-6"></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
