<% if flash[:notice].present? %>
  <div class="error" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="jumbotron">
  <div class="cover"></div>

  <div class="container">
    <div class="logo">
      <a href="/">
        <%= image_tag 'logo.svg' %>
      </a>
    </div>

    <div class="headline">
      <h1 class="display-2">
        How vampire are you?
      </h1>

      <h2>
        Find yourself in historical artworks from national galleries of Slovak Republic and Norway.
      </h2>

      <button id="pick-a-photo" class="btn btn-primary btn-lg btn-upload">
        Upload Your Photo
      </button>

      <%= form_for @image, html: { multipart: true } do |f| %>
        <%= f.file_field :photo, hidden: true %>
      <% end %>
    </div>
  </div>
</div>


<div id="how-it-works" class="container">
  <h1 class="display-4 title">How it works</h1>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Data & Artworks</h1>

      <p>
        We gather historical artworks from the <a href="http://www.sng.sk/">Slovak National Gallery</a> and <a href="http://www.nasjonalmuseet.no/">Nasjonalmuseet</a> in Norway through their APIs. We evaluate more than 2 000 artworks labeled as portraits.
      </p>
    </div>
  </div>

  <%= render 'line' %>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Face Recognition</h1>

      <p>
        In order to extract faces, we use opensource machine learning framework &ndash; <a href="http://cmusatyalab.github.io/openface/">OpenFace</a>. OpenFace utilizes deep neural networks for face recognition and represents a face of an individual as 128-dimensional hypersphere. The comparision is done by simple difference between two hyperspheres.
      </p>
    </div>
  </div>

  <%= render 'line' %>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Real-time Computation</h1>

      <p>
        All of the portraits are preprocessed and a model of a face extracted from the portrait is cached in order to speed up the computation. The search for the most similar faces is done within a second and the similarity computation takes about 50ms in an average on more than 1 200 extracted faces.
      </p>
    </div>
  </div>
</div>

<%= render 'timeline', image: LandingPageImage, similar_faces: LandingPageImage.similar_faces, note: 'Source: http://greatnewsmag.com/' %>
