<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= content_for(:title) ? yield(:title) : 'VampArt' %></title>
    <meta name="author" content="Samuel Molnár, Pavol Truben, Matej Lukášik, Lubomír Fundarek">
    <meta name="keywords" content="vampires, face similarity, face recognition, sng, art data, hackathon, machine learning, deep neural networks, openface, hypesphere, nasjonalmuseet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'touchicon.png', rel: 'apple-touch-icon' %>
    <%= favicon_link_tag 'blood-drop.svg', rel: 'mask-icon' %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400' %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <%= yield %>

    <footer>
      <div class="container">
        <div class="disclaimer">
          By uploading the photo you're granting us a permission to process it and publish on this website, but only with unique URL address.

          <br />

          This project was built during the <a href="http://hackathon.sng.sk/">Art Data Hackathon</a> and by using artworks from the <a href="http://www.sng.sk/">Slovak National Gallery</a> and <a href="http://www.nasjonalmuseet.no/">Nasjonalmuseet collections.</a>

          <br />

          Copyright 2016 &middot;
          <a target="_blank" href="https://github.com/smolnar/vampart">GitHub</a> &middot;
          <a target="_blank" href="https://twitter.com/samuelmolnar">Samuel Molnár</a> &middot;
          <a target="_blank" href="http://truben.sk/team-members/pavol-truben/">Pavol Truben</a> &middot;
          <a target="_blank" href="http://www.matejlukasik.com/">Matej Lukášik</a> &middot;
          <a target="_blank" href="mailto:fundo82@gmail.com">Ľubomír Fundarek</a>
        </div>
      </div>
    </footer>
  </body>
</html>
