<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= content_for(:title) ? yield(:title) : 'VampArt' %></title>
    <meta name="author" content="Samuel Molnár, Pavol Truben, Matej Lukášik, Lubomír Fundarek">
    <meta name="keywords" content="vampires, face similarity, face recognition, sng, art data, hackathon, machine learning, deep neural networks, openface, hypesphere, nasjonalmuseet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'touchicon.png', rel: 'apple-touch-icon' %>
    <%= favicon_link_tag 'blood-drop.svg', rel: 'mask-icon' %>

    <meta property="og:title" content="VampArt - Find Yourself in Historical Artworks"/>
    <meta property="og:description" content="Find your look-alikes in artworks from national galleries of Slovak Republic and Norway. Try it out and upload your photo!">
    <meta property="og:image" content="<%= content_for(:preview_image) ? yield(:preview_image) : asset_path('preview.png') %>" />

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400' %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <%= yield %>

    <% unless Rails.env.test? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-86876745-1', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <footer>
      <div class="container">
        <div class="disclaimer">
          By uploading your photo you're granting us a permission to process it and publish on this website.

          <br />

          This project was built during the <a href="http://hackathon.sng.sk/">Art Data Hackathon</a> and by using artworks from the <a href="http://www.sng.sk/">Slovak National Gallery</a> and <a href="http://www.nasjonalmuseet.no/">Nasjonalmuseet collections</a>. 

          <br />

          All of the artworks are used purely for non-commercial and research activities in a scope of this project.

          <br />

          Copyright 2016 &middot;
          <a target="_blank" href="https://github.com/smolnar/vampart">GitHub</a> &middot;
          <a target="_blank" href="https://twitter.com/samuelmolnar">Samuel Molnár</a> &middot;
          <a target="_blank" href="http://truben.sk/team-members/pavol-truben/">Pavol Truben</a> &middot;
          <a target="_blank" href="http://www.matejlukasik.com/">Matej Lukášik</a> &middot;
          <a target="_blank" href="mailto:fundo82@gmail.com">Ľubomír Fundarek</a>
        </div>
      </div>
    </footer>
  </body>
</html>
