<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= content_for(:title) ? yield(:title) : 'VampArt' %></title>
    <meta name="author" content="Lubomír Fundarek, Matej Lukášik, Samuel Molnár, Pavol Truben">
    <meta name="keywords" content="vampires, face similarity, sng art data, art data, hackathon, machine learning, neural networks, openface">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="mask-icon" sizes="any" href="/assets/images/favicon.svg" />
    <link rel="apple-touch-icon" href="/assets/images/touchicon-06566391462a909cefdc164627ec9117.png" />

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400' %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <%= yield %>

    <footer>
      <div class="container">
        <div class="disclaimer">
          By uploading the photo you're granting us a permission to process it and publish on this webpage on unique URL address.

          <br />

          This project was built during the <a href="http://hackathon.sng.sk/">Art Data Hackathon</a> and by using artworks from the <a href="http://www.sng.sk/">Slovak National Gallery</a> and <a href="http://www.nasjonalmuseet.no/">Nasjonalmuseet collections.</a>

          <br />

          Copyright 2016 &middot;
          <a target="_blank" href="https://github.com/smolnar/vampart">GitHub</a> &middot;
          <a target="_blank" href="https://twitter.com/samuelmolnar">Samuel Molnár</a> &middot;
          <a target="_blank" href="http://truben.sk/team-members/pavol-truben/">Pavol Truben</a> &middot;
          <a target="_blank" href="http://www.matejlukasik.com/">Matej Lukášik</a> &middot;
          <a target="_blank" href="mailto:fundo82@gmail.com">Ľubomír Fundarek</a>
        </div>
      </div>
    </footer>
  </body>
</html>
